* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* HEADER-SECTION */
.header {
  margin-top: 38px;
  margin-bottom: 32px;
}

.site-logo {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  color: #555252;
}

.site-logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

/* navigation */
.nav-list {
  float: right;
  margin-top: 7px;
}

.nav-list__item {
  float: left;
}

.nav-list__item:not(:last-child) {
  margin-right: 33px;
}

.nav-list__link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
  text-transform: uppercase;
  color: #0f0101;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: #1abc9c;
}

/* MAIN-SECTION */
/* slider */
.slider {
  position: relative;
}

.slider-image {
  width: 100%;
  height: 100%;
}

.slider-overlay {
  background-color: rgba(0, 0, 2, 0.52);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-content__text {
  position: absolute;
  text-align: left;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-content__text__title {
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  margin-bottom: 11px;
}

.slider-content__text__description {
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
}

.slider-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-vav__btn {
  width: 104px;
  height: 104px;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-color: rgba(26, 188, 156, 0.65);
  cursor: pointer;
}

.prev {
  float: left;
  background-image: url('../img/icons/prev.png');
}

.next {
  float: right;
  background-image: url('../img/icons/next.png');
}

.prev:hover,
.next:hover {
  background-color: #1abc9c;
}

/* collection */
.collection {
  padding: 100px 0;
  background-color: #e9f0fd;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
  text-align: center;
}

.section-title::after {
  content: '';
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 32px auto 82px;
}

/* collection card */
.card-list {
  list-style: none;
  padding: 0;
}

.card-list__item {
  float: left;
  margin-right: 30px;
  margin-bottom: 0;
}

.card-list__item:last-child {
  margin-right: 0;
}

.card-img-wrapper {
  position: relative;
}

.card-list__item__image {
  display: block;
  background-color: #e9f0fd;
}

.card-list__item__wrapper {
  background-color: #323232;
  text-transform: uppercase;
}

.card-list__item__link {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}

.card-list__item__title {
  float: left;
  width: 201px;
  padding-left: 14px;
  font-size: 18px;
  margin: 0;
}

.card-list__item__price {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  width: 54px;
  float: left;
  background-color: rgba(255, 255, 255, 0.44);
  text-align: center;
}

.card-list__item:hover .card-list__item__wrapper {
  background-color: #1abc9c;
}

/* OVERLAY START */
.overlay-collection {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  border: 10px solid rgba(255, 255, 255, 0.55);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-clip: content-box;
}

.card-list__item:hover .overlay-collection {
  visibility: visible;
  opacity: 1;
}

.icons-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-list__item {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.icons-list__item:not(:nth-last-child(-n + 2)) {
  margin-right: 9px;
}

.icons-list__item:not(:last-child) {
  margin-bottom: 7px;
}

.icons-list__item:not(:last-child) > button {
  width: 50px;
  height: 50px;
}

.icons-list__item:hover {
  background-color: #1abc9c;
}

.icons-button {
  border: none;
  background-color: transparent;
  color: inherit;
  text-transform: inherit;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.heart {
  background-image: url('../img/icons/heart.png');
}

.versus {
  background-image: url('../img/icons/versus.png');
}

.clock {
  background-image: url('../img/icons/clock.png');
}

.button-add {
  width: 168px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  background-color: #323232;
}

.truck {
  text-align: right;
  padding-right: 17px;
}

.icons-button::before {
  position: absolute;
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('../img/icons/truck.png');
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
}
/* OVERLAY END */

/* FOOTER */
.footer {
  background-color: #323232;
}

.footer-content {
  padding: 36px 0 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #fefefe;
  text-align: center;
}

.footer-content__link {
  color: #46bfa9;
}
